.intro-projects {
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  height: calc(100vh - 60px); // Adjust for navbar height
  padding-top: 60px;
  // background-image: url(./../../assets/images/bgNetwork.png);
  background: white;

  .intro {
    width: 60%;
    padding: 40px;
    color: white;
    justify-content: center;
    display: flex;
    flex-direction: column;

    h1 {
      font-size: 5rem;
      color: black;
      margin: 0;
    }

    p {
      font-size: 2rem;
      color: black;
    }
  }

  .projects {
    width: 40%;
    padding: 40px;

    h2 {
      font-weight: 400;
      color: black; // Lighter text color for better readability
      font-family: "Raleway", sans-serif;
    }
  }
}
